@import "tailwindcss";
@import "./markdown.css";

@theme {
    /* Primary */
    --color-primary-light: #1CBBEA;
    --color-primary: #3B9AB8;
    --color-primary-dark: #4898B8;
    --color-primary-darkest: #1a1c1d;

    /* Secondary */
    --color-secondary-light: #8EEB1C;
    --color-secondary: #7FB83B;
    --color-secondary-dark: #688545;
    --color-secondary-darkest: #47523B;

    --default-font-family: "Vend Sans", system-ui, sans-serif;
}

@layer base {
  html {
    color: white;
    font-optical-sizing: auto;
    font-style: normal;
  }

  body {
    background-color: var(--color-primary-darkest);
  }
}

