@layer components {
    .markdown h1 {
        font-size: var(--text-3xl);
        color: var(--color-primary-light);
        margin-top: calc(var(--spacing) * 3);
        margin-bottom: calc(var(--spacing) * 2);
    }

    .markdown p {
        font-size: var(--text-base);
        margin-bottom: calc(var(--spacing) * 2);
    }

    .markdown ul {
        list-style-type: disc;
        padding-left: calc(var(--spacing) * 4);
        margin-bottom: calc(var(--spacing) * 2);
    }

    .markdown img {
        margin-top: calc(var(--spacing) * 8);
        justify-self: center;
    }

    .markdown p.image-sub {
        justify-self: center;
        font-size: var(--text-sm);
        color: var(--color-gray-400);
        margin-bottom: calc(var(--spacing) * 8);
    }

    .markdown a {
        color: var(--color-primary-light);
        text-decoration: underline;
        text-underline-offset: calc(var(--spacing));
    }
}