<div class="flex flex-col p-5">
  <h2 class="text-3xl font-bold mb-4 text-primary-light">Quando Toggles Viram Problema</h2>

  <span class="text-xl my-5">
    Nem tudo são flores. É necessário certos cuidados para evitar que os toggles se tornem um problema. Alguns dos principais problemas são:
  </span>

  <ul class="list-disc ml-6 mb-6 text-2xl">
    <li>Toggle Debt - toggles acumulam dívida técnica</li>
    <li>Complexidade oculta - toggles aumentam a complexidade do código</li>
    <li>Falsa sensação de segurança - toggles podem dar uma falsa sensação de controle</li>
  </ul>
</div>