<div class="flex flex-col p-5">
  <h2 class="text-3xl font-bold mb-4 text-primary-light">Toggle Debt</h2>

  <span class="text-xl my-5">
    Toggles que já não são mais necessários viram código morto. Eles podem confundir os desenvolvedores, aumentar a complexidade do código e dificultar o entendimento do sistema.
  </span>

  <span class="text-2xl font-bold mb-2 text-primary-light">
    Dica:
  </span>

  <ul class="list-disc ml-6 mb-6 text-2xl">
    <li>Revisões de código regulares</li>
    <li>Monitoramento de toggles</li>
    <li>Comunicação clara entre as equipes</li>
    <li>Metadados para rastrear o uso e a validade dos toggles</li>
  </ul>
</div>