<div class="flex flex-col p-5">
  <h2 class="text-3xl font-bold mb-4 text-primary-light">Modelo tradicional de trabalho</h2>

  <span class="text-2xl text-center my-5">
    Desenvolver → PR → Merge → Testar → Deploy → Release
  </span>

  <span class="text-xl">
    E se a tarefa tiver impactos grandes? E se a tarefa em si for grande?
  </span>

  <span class="text-2xl text-center my-5">
    <span class="text-red-500">
      Desenvolver → PR → Merge → Testar → Deploy
    </span>
      → Release
  </span>

  <span class="text-xl">
    A tendência é segurar o merge até o final, o que gera conflitos com outras demandas e impede a entrega contínua.
    O ideal seria poder <span class="text-primary-light">adiantar o merge</span> e ir testando e entregando aos poucos.
  </span>

  <span class="text-2xl my-5 text-primary-light text-center">
    Como desacoplar deploy e release?
  </span>
</div>
