<div class="flex flex-col p-5">
  <span class="text-3xl font-bold mb-4 text-primary-light">Feature Toggle</span>

  <span class="text-xl">
    <span class="text-primary-light">Feature Toggle</span> é uma técnica de desenvolvimento que permite habilitar ou desabilitar funcionalidades em tempo de execução, sem a necessidade de deploy.
  </span>
  
  <span class="text-xl my-5">
    Uma forma comum de implementar é registrando, no <span class="text-primary-light">banco de dados</span>, toggles de funcionalidades, e usando esses toggles para controlar o comportamento do sistema.
  </span>

  <span class="text-xl">
    É possível implementar toggles com diferentes regras e níveis de granularidade, como:
    <ul class="list-disc ml-6">
      <li>Toggle global: habilita ou desabilita a funcionalidade para todos os usuários.</li>
      <li>Toggle por grupo: habilita ou desabilita a funcionalidade para um grupo específico de usuários.</li>
      <li>Toggle por data: habilita ou desabilita a funcionalidade com base em uma data específica.</li>
    </ul>
  </span>
</div>