<div class="flex flex-col p-5">
  <h2 class="text-3xl font-bold mb-4 text-primary-light">Experiment Toggles</h2>

  <span class="text-xl">
    Usados para validar hipóteses e medir possíveis impactos de uma mudança. Características comuns:
  </span>

  <ul class="list-disc ml-6 mb-6 text-2xl my-5">
    <li>Associados a uma hipótese clara</li>
    <li>Possuem métricas definidas para realizar a validação</li>
    <li>Possuem um prazo de decisão, a partir do qual devem ser desativados ou promovidos</li>
    <li>Podem ser utilizados para A/B testing</li>
  </ul>
</div>