<div class="p-5 flex flex-col items-center justify-center h-full">
    <h2 class="text-6xl font-bold mb-4 text-primary-light text-center">Feature Toggles</h2>
    <span class="text-1xl text-center">
        Separando deploy de release, experimentação, operações e permissões.
    </span>
</div>
