<div class="flex flex-col p-5">
  <h2 class="text-3xl font-bold mb-4 text-primary-light">Falsa Sensação de Segurança</h2>

  <span class="text-xl my-5">
    “É só desligar.” Nem sempre. Toggles podem criar uma falsa sensação de segurança, levando as equipes a subestimar os riscos associados a eles.
  </span>

  <span class="text-2xl font-bold mb-2 text-primary-light">
    Dicas:
  </span>
  
  <ul class="list-disc ml-6 mb-6 text-2xl">
    <li>Entender os riscos associados a cada toggle</li>
    <li>Ter um plano de contingência para falhas</li>
    <li>Realizar testes rigorosos antes de ativar um toggle</li>
    <li>Rastrear alterações de dados realizadas ao ativar ou desativar um toggle</li>
  </ul>
</div>