<div class="flex flex-col p-5">
  <h2 class="text-3xl font-bold mb-4 text-primary-light">Benefícios Estratégicos</h2>
   
  <span class="text-2xl font-bold mb-2 text-primary-light">
    Para Engenharia:
  </span>
  <ul class="list-disc ml-6 mb-2 text-2xl">
    <li>PRs menores</li>
    <li>Integração contínua real</li>
    <li>Menos conflitos</li>
  </ul>
  
  <span class="text-2xl font-bold mb-2 text-primary-light">
    Para Produto:
  </span>
  <ul class="list-disc ml-6 mb-2 text-2xl">
    <li>Rollout progressivo</li>
    <li>Menor risco</li>
    <li>Feedback mais rápido</li>
  </ul>

  <span class="text-2xl font-bold mb-2 text-primary-light">
    Para Operações:
  </span>
  <ul class="list-disc ml-6 mb-2 text-2xl">
    <li>Menos deploys de emergência</li>
    <li>Releases mais controladas, independentes do deploy</li>
  </ul>
</div>