<div class="flex flex-col p-5">
  <h2 class="text-3xl font-bold mb-4 text-primary-light">Mensagem Final</h2>
  <ul class="list-disc ml-6 mb-6 text-2xl">
    <li>Ferramenta de aceleração</li>
    <li>Instrumento estratégico</li>
    <li>Mecanismo de aprendizado</li>
    <li>Mas exigem maturidade</li>
  </ul>

  <span class="text-xl my-5">
    Qual é a sua opinião? Vamos discutir! Obrigado pela atenção.
  </span>
</div>