<div class="flex flex-col p-5">
  <h2 class="text-3xl font-bold mb-4 text-primary-light">Quando NÃO Usar Toggle</h2>

  <span class="text-xl my-5">
    Apesar dos benefícios, existem situações em que o uso de toggles pode não ser recomendado. Alguns cenários a evitar incluem:
  </span>

  <ul class="list-disc ml-6 mb-6 text-2xl">
    <li>Feature simples e pequena</li>
    <li>Mudança irreversível</li>
    <li>Falta de disciplina de governança</li>
    <li>Toggle permanente sem justificativa clara</li>
  </ul>
</div>