<div class="flex flex-col p-5 justify-center">
  <span class="text-3xl font-bold mb-4 text-primary-light">Deploy vs. Release</span>

  <span class="text-3xl text-center text-primary-light">
    Deploy
  </span>
  <span class="text-xl text-center my-5">
    Mover código para produção, mas sem expor a funcionalidade para os usuários.
  </span>

  <span class="text-3xl text-center text-primary-light">
    Release
  </span>
  <span class="text-xl text-center my-5">
    Expor a funcionalidade para os usuários, habilitando a feature.
  </span>

  <span class="text-2xl text-primary-light text-center my-7">
    Como implementar isso?
  </span>
</div>
