<div class="flex flex-col p-5">
  <h2 class="text-3xl font-bold mb-4 text-primary-light">Boas Práticas de Engenharia</h2>

  <span class="text-xl my-5">
    Podemos, a partir daí, extrair algumas boas práticas de engenharia para o uso de toggles. Algumas dessas práticas incluem:
  </span>

  <ul class="list-disc ml-6 mb-6 text-2xl">
    <li>Toggle tem dono</li>
    <li>Toggle tem tipo</li>
    <li>Toggle tem data de expiração, a partir da qual deve ser removido do código</li>
    <li>Toggle tem documentação clara do uso e impactos</li>
  </ul>
</div>