<div class="flex flex-col p-5">
  <h2 class="text-3xl font-bold mb-4 text-primary-light">Complexidade Oculta</h2>

  <span class="text-xl my-5">
    Cada toggle adiciona uma nova dimensão de complexidade ao código. Com muitos toggles, o número de combinações possíveis cresce exponencialmente, tornando difícil prever e testar todas as interações.
  </span>

  <span class="text-2xl font-bold mb-2 text-primary-light">
    Dica:
  </span>
  
  <ul class="list-disc ml-6 mb-6 text-2xl">
    <li>Limitar o número de toggles ativos</li>
    <li>Documentar claramente o propósito e o estado de cada toggle</li>
    <li>Remover toggles antigos do código</li>
  </ul>
</div>