---
import Layout from "../../layouts/Layout.astro";
import { ChevronLeft, ChevronRight } from '@lucide/astro';

import Slide01 from "./slides/Slide01.astro";
import Slide02 from "./slides/Slide02.astro";
import Slide04 from "./slides/Slide04.astro";
import Slide05 from "./slides/Slide05.astro";
import Slide06 from "./slides/Slide06.astro";
import Slide07 from "./slides/Slide07.astro";
import Slide08 from "./slides/Slide08.astro";
import Slide09 from "./slides/Slide09.astro";
import Slide10Ops from "./slides/Slide10_ops.astro";
import SlideToggleDebt from "./slides/SlideToggleDebt.astro";
import SlideComplexidade from "./slides/SlideComplexidade.astro";
import SlideProblemas from "./slides/SlideProblemas.astro";
import SlideFalsaSeguranca from "./slides/SlideFalsaSeguranca.astro";
import Slide17 from "./slides/Slide17.astro";
import Slide18 from "./slides/Slide18.astro";
import SlideBeneficios from "./slides/SlideBeneficios.astro";
import SlideBoasPraticas from "./slides/SlideBoasPraticas.astro";

const slides = [
    Slide01, Slide02, Slide04, Slide05, Slide06, Slide07, Slide08, Slide09, Slide10Ops,
    SlideBeneficios, SlideProblemas, SlideToggleDebt, SlideComplexidade, SlideFalsaSeguranca, SlideBoasPraticas, Slide17, Slide18
];
---


<Layout title="Slides">
    <div class="flex items-center justify-center flex-1">
        <ChevronLeft id="prev-slide" size="2lh" class="text-primary-light cursor-pointer" />
        <div class="w-200 h-125 border-2 border-primary-light rounded-md flex items-center justify-center overflow-hidden relative">
            {slides.map((Slide, idx) => (
                <div
                    class={"h-full w-full flex flex-col transition-opacity duration-300 " + (idx === 0 ? "" : "hidden")}
                    id={`slide-${idx+1}`}
                >
                    <Slide />
                </div>
            ))}

            <span id="page-marker" class="absolute bottom-0 right-0 text-primary-light mx-3 my-2"></span>
        </div>
        <ChevronRight id="next-slide" size="2lh" class="text-primary-light cursor-pointer" />
    </div>
</Layout>

<script type="module">
    const totalSlides = 17;
    let currentPage = {
        value: () => {
            const storedValue = localStorage.getItem('currentPage');
            return storedValue ? parseInt(storedValue, 10) : 1;
        }, next: () => {
            const current = localStorage.getItem('currentPage');
            const nextPage = current ? Math.min(parseInt(current, 10) + 1, totalSlides) : 2;
            localStorage.setItem('currentPage', nextPage);
        }, prev: () => {
            const current = localStorage.getItem('currentPage');
            const prevPage = current ? Math.max(parseInt(current, 10) - 1, 1) : 1;
            localStorage.setItem('currentPage', prevPage);
        }
    }

    function syncSlides() {
        for (let i = 1; i <= totalSlides; i++) {
            const el = document.getElementById(`slide-${i}`);
            if (el) {
                if (i === currentPage.value()) {
                    el.classList.remove('hidden');
                } else {
                    el.classList.add('hidden');
                }
            }
        }

        const marker = document.getElementById('page-marker');
        if (marker) {
            marker.textContent = `${currentPage.value()} / ${totalSlides}`;
        }
    }

    setTimeout(() => {
        document.getElementById('prev-slide')?.addEventListener('click', () => {
            currentPage.prev();
            syncSlides();
        });

        document.getElementById('next-slide')?.addEventListener('click', () => {
            currentPage.next();
            syncSlides();
        });

        syncSlides();
    }, 0);
</script>